/** @format */

.content-section-3-container {
	background: url("../../../assets/images/background\ image\ 2.svg") no-repeat;
	background-size: cover;
	height: 390vh;
	width: 100%;
}

.content-section-3-sub-container {
	width: 85%;
	margin: auto;
}

.content-section-3-heading {
	padding-top: 4vh;
	width: 85%;
	margin: auto;
	text-align: center;
	height: 30vh;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.content-section-3-heading > div:nth-child(1) {
	font-family: var(--base-font-family);
	font-weight: 400;
	font-size: var(--font-size-mid);
	line-height: 130%;
	color: #ffffff;
}

.content-section-3-heading > div:nth-child(2) {
	font-family: var(--base-font-family);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-big);
	line-height: 130%;
	color: #ffffff;
}

.content-section-3-sub-content-1 {
	width: 100%;
	height: 110vh;
	position: relative;
}

.content-section-3-sub-content-1 > div:not(:nth-child(5)) {
	width: 250px;
	height: auto;
}

.content-section-3-sub-content-1 > div:not(:nth-child(5)) > div:nth-child(1) {
	font-family: var(--base-font-family);
	font-weight: var(--font-weight-bold);
	font-size: 50px;
	line-height: 23px;
	color: #ffffff;
	opacity: 0.3;
}

.content-section-3-sub-content-1 > div:not(:nth-child(5)) > div:nth-child(2) {
	font-family: var(--base-font-family);
	font-weight: 400;
	font-size: var(--font-size-mid);
	line-height: 130%;
	color: #ffffff;
	padding-top: 10px;
}

.content-section-3-sub-content-1 > div:nth-child(1) {
	position: absolute;
	left: 5%;
	top: 12%;
}

.content-section-3-sub-content-1 > div:nth-child(2) {
	position: absolute;
	right: 3%;
	top: 24%;
}

.content-section-3-sub-content-1 > div:nth-child(3) {
	position: absolute;
	left: 5%;
	top: 60%;
}

.content-section-3-sub-content-1 > div:nth-child(4) {
	position: absolute;
	right: 3%;
	top: 60%;
}

.content-section-3-sub-content-1 > div:nth-child(5) {
	position: absolute;
	transform: translate(60%, 30%);
}

@media screen and (max-width: 1120px) {
	.content-section-3-sub-content-1 > div:nth-child(5) > img {
		width: 400px;
	}
	.content-section-3-sub-content-1 > div:nth-child(5) {
		transform: translate(60%, 20%);
	}
	.content-section-3-sub-content-1 > div:nth-child(2) {
		top: 10%;
		right: -5%;
	}

	.content-section-3-sub-content-1 > div:nth-child(4) {
		top: 40%;
		right: -8%;
	}
}

.content-section-3-sub-content-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-section-3-sub-content-2 > div > div:nth-child(1) {
	font-family: var(--base-font-family);
	font-weight: var(--font-weight-bold);
	font-size: 24px;
	line-height: 130%;
	color: #ffffff;
}

.content-section-3-sub-content-2 > div > div:nth-child(2) {
	font-family: var(--base-font-family);
	font-weight: var(--font-weight-thin);
	font-size: var(--font-size-mid);
	line-height: 130%;
	color: #ffffff;
}

.content-section-3-sub-content-2 > div > img {
	width: 550px;
	height: auto;
}

.content-section-3-sub-content-3 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	height: 100vh;
	margin: auto;
}

.content-section-3-sub-content-3 > div:nth-child(2) {
	width: 40%;
	font-family: var(--base-font-family);
	font-weight: 400;
	font-size: var(--font-size-mid);
	line-height: 130%;
	color: #ffffff;
}

.content-section-3-sub-content-4 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.content-section-3-sub-content-4 > div:nth-child(1) > div:nth-child(1) {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	color: #ffffff;
}

.content-section-3-sub-content-4 > div:nth-child(1) > div:nth-child(2) {
	font-family: var(--base-font-family);
	font-weight: 400;
	font-size: var(--font-size-mid);
	line-height: 130%;
	color: #ffffff;
}

.content-section-3-sub-content-4-text {
	font-family: var(--base-font-family);
	font-weight: 400;
	font-size: var(--font-size-mid);
	line-height: 130%;
	color: #ffffff;
}

.content-section-3-sub-content-text-container {
	padding-top: 30px;
}

.content-section-3-sub-content-text-container > div:nth-child(1) {
	font-family: var(--base-font-family);
	font-weight: var(--font-weight-bold);
	font-size: 50px;
	line-height: 23px;
	color: #ffffff;
	opacity: 0.3;
	padding-bottom: 10px;
}

@media screen and (max-width: 999px) {
	.content-section-3-sub-content-1 > div:nth-child(5) > img {
		width: 377px;
	}
	.content-section-3-sub-content-1 > div:not(:nth-child(5)) > div:nth-child(1) {
		font-size: 30px;
	}

	.content-section-3-sub-content-1 > div:not(:nth-child(5)) > div:nth-child(2) {
		font-family: var(--base-font-family);
		font-weight: 400;
		font-size: 14px;
	}
	.content-section-3-sub-content-1 > div:nth-child(3) {
		top: 45%;
		left: 3%;
	}
}

@media screen and (max-width: 950px) {
	.content-section-3-sub-content-1 > div:nth-child(5) > img {
		width: 320px;
	}
	.content-section-3-sub-content-1 > div:nth-child(5) {
		transform: translate(60%, 10%);
	}
}

@media screen and (max-width: 899px) {
	.content-section-3-sub-content-1 > div:nth-child(2) {
		top: 4%;
		right: -8%;
	}
	.content-section-3-sub-content-1 > div:nth-child(4) {
		top: 33%;
		right: -8%;
	}
	.content-section-3-heading > div:nth-child(2) {
		font-size: 20px;
	}
	.content-section-3-heading > div:nth-child(1) {
		font-size: 14px;
	}
}
